body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;   /* centrerar allt */
  align-items: flex-start;
  background: #121212;       /* mörk bakgrund */
}


html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #121212;   /* mörk bakgrund */
  color: rgba(255, 255, 255, 0.87);
}
